button {
    font-size: $size-medium;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

.button-highlight {
    background-color: $color-bg-red;
    color: $color-white;
}

.button-success {
    background-color: $color-bg-green;
    color: $color-white;
}
