$fonte-principal: 'Montserrat', sans-serif;


$color-red-1: #f43a59;
$color-blue-1: #007bff;
$color-white: #FFF;

$color-bg-dark: #1A2F3A;

$gradiente-1: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
$gradiente-2: linear-gradient(135deg, #4f5b60 0%, #97a9b2 100%);
$gradiente-3: linear-gradient(135deg, #fc4a1a 0%, #f7b733 100%);
$gradiente-4: linear-gradient(135deg, #7474BF 0%, #348AC7 100%);


$height-logo: 80px;
$height-header: 80px;
$height-menu-top: 80px;
$width-barra-lateral: 225px;
$height-footer: 40px;


$width-xl-min: 1200px;
$width-lg-max: 1199px;
$width-lg-min: 992px;
$width-md-max: 991px;
$width-md-min: 768px;
$width-sm-max: 767px;
$width-sm-min: 576px;
$width-xs-max: 575px;
$width-xs-min: 0px;
